@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


body{
    font-family: "Poppins", sans-serif;
}


.container { 
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-image: url(construccion.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;    

}

.menu {
    position: absolute;
    top: 0;
    left: 70%;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: rgb(255, 255, 255);
    display: block;
    font-weight: 600;
}

.menu .navbar ul li a:hover {
    color: cornflowerblue;
    
}

#menu {
    display: none;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    text-align: center;
}

.header-content h1 {
    font-size: 75px;
    line-height: 80px;
    color: cornsilk;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.header-content p {
    font-size: 20px;
    color: rgb(233, 221, 221);
    padding: 0 250px;
    margin-bottom: 25px;
}

.servicios2 {
    padding: 100px 0;
    display: flex;
}

.servicios2-1 {
    width: 70%;
    display: flex;
}

.servicios2-card {
    padding: 35px;
    text-align: center;
    margin: 0 5px;
    border-radius: 25px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.servicios2-card img {
    width: 90px;
    margin-bottom: 25px;
}

.servicios2-card h3 {
    font-size: 18px;
    color: rgb(0, 0, 0);
    margin-bottom: 15px;
}

.servicios2-card p {
    font-size: 16px;
    color: rgb(1, 0, 17);
}


.footer {
    padding: 100px 0;
    background-color: rgb(1, 5, 24);
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.link h3 {
    font-size: 18px;
    color: white;
    margin-bottom: 15px;
}

.link a {
    font-size: 16px;
    color: white;
    display: block;
    margin-bottom: 15px;
}